footer.stripe {
    background-color: #ffd000;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
}